{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block body %}


{% for block in funds %}
<form method="post" action="viewtransaction">
  {% csrf_token %}
<div class="card">
  <div class="card-header">
    Block
  </div>
  <div class="card-body">
    <h5 class="card-title">Previous Hash -> {{block.prev}}</h5>
    <h5 class="card-title">Nonce Value -> {{block.Nonce}}</h5>
    <h5 class="card-title">Time -> {{block.timestamp}}</h5>
     <input class="card-title" type="checkbox" id="fund" name = "fund" value = "{{name}}" checked hidden >
     <input class="card-title" type="checkbox" id="hash" name = "hash" value = "{{block.hash}}" checked hidden >
    <h5 class="card-title">Hash -> {{block.hash}}</h5>
    <p class="card-text">Click on View Transactions to check all transactions within a Block.</p>
    <button type="submit" class="btn btn-primary">View Transactions</button>
  </div>

</form>
<!--<h3>Block</h3>-->
<!--<h4>{{block.prev}}</h4>-->
<!--<h4>{{bloc.nonce}}</h4>-->
<!--<h4>{{block.timestamp}}</h4>-->
<!--<h4>{{block.hash}}</h4>-->
<!--{% for tran in block.transactions %}-->
<!--{{tran.fromAdd}}-->
<!--{{tran.toAdd}}-->
<!--{{tran.amount}}-->
<!--{% endfor %}-->


{% endfor %}

{% endblock body%}
