{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block body %}

{% for fund in funds %}
<form method="post" action="viewblockchain">
 {% csrf_token %}
<div class="card">
  <div class="card-header">
    {{fund.name}}
  </div>
  <div class="card-body">
    <input type="checkbox" id="block" name="block" value="{{fund.name}}" checked  hidden />
    <h1>{{fund.name}}</h1>
    <h5 class="card-title">Available Funds = {{fund.fund}}</h5>
    <p class="card-text">Click on View Blockchain to check all blocks within a blockchain.</p>
    <h5>Blockchain Valid : {{fund.validity}}</h5>
    <button type="submit" class="btn btn-primary">View Blockchain</button>
  </div>

</form>
<!--<h3>Block</h3>-->
<!--<h4>{{block.prev}}</h4>-->
<!--<h4>{{bloc.nonce}}</h4>-->
<!--<h4>{{block.timestamp}}</h4>-->
<!--<h4>{{block.hash}}</h4>-->
<!--{% for tran in block.transactions %}-->
<!--{{tran.fromAdd}}-->
<!--{{tran.toAdd}}-->
<!--{{tran.amount}}-->
<!--{% endfor %}-->


{% endfor %}

{% endblock body%}
