{% extends 'base.html' %}

{% block title %} Pending Transactions {% endblock title %}
{% block body %}
<center><h1>Pending Transactions</h1></center>

    {% for transaction in transactions %}
<form method="post" action="deleteTransaction">
    {% csrf_token %}
    <div class="card">
  <div class="card-header">
    {{name}}

  </div>
  <div class="card-body">
    <h5 class="card-title">From User -> {{transaction.fromAdd}}</h5>
    <h5 class="card-title">To User -> {{transaction.toAdd}}</h5>
    <h5 class="card-title">Amount -> {{transaction.amount}}</h5>
      <input class="card-title" type="checkbox" id="fund" name = "fund" value = "{{name}}" checked  >
     <input class="card-title" type="checkbox" id="hash" name = "hash" value = "{{transaction.hash}}" checked  >
    <button type="submit" class="btn btn-primary">Delete Transaction</button>
  </div>
</div>

<!--<h3>Block</h3>-->
<!--<h4>{{block.prev}}</h4>-->
<!--<h4>{{bloc.nonce}}</h4>-->
<!--<h4>{{block.timestamp}}</h4>-->
<!--<h4>{{block.hash}}</h4>-->
<!--{% for tran in block.transactions %}-->
<!--{{tran.fromAdd}}-->
<!--{{tran.toAdd}}-->
<!--{{tran.amount}}-->
<!--{% endfor %}-->

</form>
{% endfor %}
<form method="post" action="addblock">
    {% csrf_token %}
    <input type="checkbox" id="block" name="block" value="{{name}}" checked hidden  />

          <div class="text-center text-lg-start mt-4 pt-2">
            <center><button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Mine Block</button></center>
          </div>
</form>
{% endblock body%}
